//Layout Multiple choice

.audio_multiple_choice{
	@include span-columns(10);

	.enunciado{
		@include span-columns(7);
		margin-bottom: 4rem;
		line-height: 2rem;
	}

	#audioContainer{
		clear: both;
		/*@include hotspot(tool_audio,155px,-10px,30px,30px,rgba(241,103,126, 0),$color_modulo_3_dark,6px, 25px,100px);
		.tool_audio span{
			color:white!important;
		}*/
		/*audio{
			@include span-columns(4);
			margin-bottom:2rem;
		}
		button{
			@include span-columns(2 omega);
			margin-right:3rem;
			margin-bottom:3rem;
		}*/
		
	}
	.pregs{
		@include span-columns(8 omega);
		button{
			@include span-columns(2);
			margin:2rem;

		}
		margin-top:4rem;
	}
	.pregs.unica{
		@include span-columns(6 omega);
		button{
			margin:2rem;

		}
		margin-top:10rem;
		float:right;
	}


	.image_container{
	   @include span-columns(3 omega);
	   text-align: center;
	   margin-bottom: 3rem;
	   margin-top: 2rem;
	}
	.icoplayer{
		content: url(../img/large/player_ico.jpg);
		/*background-repeat: no-repeat;
		width: 26px;
		height: 28px;
		padding-left:26px;
		padding-top:11px;*/
		margin: 0;
		vertical-align: bottom;
	}
}

.pop_mult{
	
	h4{
		/*color:$red;*/
		font-size: 1.6rem;
		line-height: 2;
	}
	.indicaciones{
		.pregunta{
			font-size: 1.6rem;
			line-height: 2;
		}
	}
	li{
		padding: 1rem;
		input[type="radio"] + label span {
			margin-top: -3px;
		}
	}
	.multiple_preg{
		padding: 2rem;
		padding-bottom: 0;
		div{
			font-style: normal;
		}
	}
	.botonera{
		/*Botonera alineada a la derecha con la imagen*/
		padding-top: 1rem;
	  	button{
	  		margin: 1rem auto;
	  	}
	}	
}
/******transcripcion ***********/
#transcrip{
		display: none;	
	}

.contenido_trans{
	@include span-columns(10);
	padding: 2rem;
	padding-top:0;
	padding-bottom:0;

	h4{
		font-size: 1.6rem;
		line-height: 2;
	}
	.indicaciones{
		/*@include span-columns(10);*/
		li{
			margin-top:1rem;
		}
		margin-bottom: 2rem;
	}
}

button#trans{
	margin-top:1rem;
}
