/*Pagina Bienvenida*/
.bienvenida{
	@include span-columns(10);
	background-color: $grey_fondo;
	@include background-image(linear-gradient($white, $grey_fondo));
	//border: solid 1px $grey_border;
	//border-top: none;
	min-height: 100%;
	.altura_auto{
		min-height: auto;
	}
	em{
		font-style: italic;
	}
	.caja_contenido{
		.tit_contenido{
			font-size: 1.6rem;
			font-weight: 600;
			margin-bottom: 2rem;
			line-height: 0.94;
		}
		.sub_tit_contenido{
			font-size: 3rem;
			margin-bottom: 3rem;
			line-height: 1.07;
			font-family: $fuente_curso_light;
		}
		.sub_tit_contenido2{
			font-size: 2rem;
			margin-bottom: 3rem;
			line-height: 1.1;
			font-weight: 600;
		}
		.negrita_morado{
			color: $morado;
			font-family: $fuente_curso_negrita;
		}
		.negrita_morado_2{
			color: $morado;
			font-size: 1.6rem !important;
			font-family: $fuente_curso_negrita;
		}
		.negrita_morado_it{
			color: $morado;
			font-weight: bold;
			font-family: $fuente_curso_negrita;
			font-style: italic;
		}
		.morado_italic{
			color: $morado;
			font-style: italic;
		}
		.morado{
			color: $morado;
		}
		.negrita_azul{
			color:#613CB4 ;
			font-family: 'Courier New', Courier, monospace;
		}
		.negrita_verde{
			color:#308058 ;
			font-family: 'Courier New', Courier, monospace;
		}
		.tit_pequeno{
			font-family: $fuente_curso_negrita;
			font-size: 2rem;
			span{
				font-size: 2rem;
			}
		}
		.desc_img{
			font-size: 1.2rem;
			line-height: 1.17;
			span{
				font-size: 1.2rem;
			}
		}
		.instruccion{
			font-size: 1.4rem;
		}
	}
	.cajita_redonda{
		border: solid 0.2rem $morado;
		border-radius: 1.5rem;
		min-height: 4rem;
		background-color: white;
	}
	
	.cajita_torcida{
		border: solid 0.2rem $morado;
		background-color: white;
		transform: skew(-35deg, 0);

	}
	.cajita_recta{
		border: solid 0.2rem $morado;
		background-color: white;

	}
	.caja_azul{
		background-color: #ECFAFE;
		border-radius: 1.5rem;
		padding: 1rem;
	}
	.caja_borde{
		border: solid 1px;
		border-radius: 1.5rem;
		border-color: #cecece;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.caja_gris{
		background: $grey_fondo;
		padding: 3rem;
	}
	.inavilitado{
		border: 1px solid #696969;
		background-color: #EDEDED;
		border-radius: 1.2rem;
		margin-right: 1rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-size: 1.8rem;
		padding: 0.5rem;
	}
	.caja_morado{
		background: #EEDDFF;
		border-radius: 1.5rem;
		padding: 0.5rem;
	}
	.cajita_btn{
		border-bottom: solid 0.2rem $morado;
		background-color: white;

	}
	.aparecer{
		visibility: hidden;
	}
	.aparecer_flecha{
		display: none;
	}
	.linea_morada{
		border-left: solid 0.2rem $morado;
		background-color: white;
	}
	.texto_recto{
		transform: skew(35deg, 0deg);
	}
	.texto_pequeno_1{
		font-weight: normal !important;
	}
	.paginacion{
		font-size: 1.4rem;
		font-weight: 300;
		line-height: 1;
		text-align: right;
	}
	.lista_numerica {
		list-style-type: decimal;
		padding-left: 5rem;
	}
	.rotate{
		transform: rotate(-45deg);
	} 
	.rotate_1{
		transform: rotate(90deg);
	} 
	.margen_8{
		margin-top: 8rem;
		margin-bottom: 8rem;
	}
	.margen_top_8{
		margin-top: 8rem;
	}
	.margen_inferior_2{
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.margin_b_1{
		margin-bottom: 1rem;
	}
	.margin_b_2{
		margin-bottom: 2rem;
	}
	.margin_b_3{
		margin-bottom: 3rem;
	}
	.margin_left_5{
		margin-left: 5rem;
	}
	.margin_left_8{
		margin-left: 8rem;
	}
	.margin_left_3{
		margin-left: 3rem;
	}
	.margin_left_2{
		margin-left: 2rem;
	}
	.margin_left_1{
		margin-left: 1rem;
	}
	.margin_top_1_5{
		margin-top: 1.5rem;
	}

	.padding_lateral_2{
		padding: 0 2rem;
	}
	.padding_top_1{
		padding-top: 1rem;
	}
	.padding_lateral_right_2{
		padding-right: 2rem;
	}
	.padding_lateral_left_2{
		padding-left: 2rem;
	}
	.padding_sup_2{
		padding-top: 2rem;
	}
	.padding_caja_morado{
        padding: 10px 10px 0px;
	}  

	.linea_vertical{
		border-right: solid 1px $grey_border2;
	}
	.linea_vertical_right{
		border-right: solid 1px $grey_border2;
	}
	.linea_vertical_left{
		border-left: solid 1px $grey_border2;
	}
	.visibility{
		visibility: hidden;
	}
	.ejemplo{
		float: left;
		font-size: 1rem;
		line-height: 1.4;
		letter-spacing: normal; 
		//color: $grey_ejemplo;
	  }
	/*************************** Ejercicio arrastrables****************************/
	.drop_hueco{
		min-height: 4.6rem;
		background-color: #35384A;
		div{
			color: $white;
			font-size: 1.2rem;
			line-height: 1;
		}
		img{
			padding: .5rem;
		}	
	}
	.img_drop{
		border-top: solid 2px #35384A;
	}
	.drag_pieza{
		background-color: #35384A;
		height: 10.5rem;
		div{
			font-size: 1.4rem;
			color: $white;
			line-height: 1;
			font-weight: 600;
		}
	}
	.drag_img{
		width: 100%;
		//height: auto;
	}
	.contenedorPieza{
		background-color: $grey_light;
	}
	/**********************************************************************************/

	.btn_desplegable{
		background: url(../img/svg/down.svg) no-repeat;
		width: 2rem;
		height: 1rem;
		cursor: pointer;
		float: left;
		margin-left: .5rem;
    	margin-top: .5rem;
		&.pulsado{
			background: url(../img/svg/up.svg) no-repeat;
		}
	}

	.gris{
		color: $grey;
	}
	.blanco{
		color: $white;
	}
	.fondo_negro{
		background-color: $black;
		border-bottom: solid 1px $white !important;
	}
	.negrita{
		font-family: $fuente_curso_negrita;
	}
	.negrita_italic{
		font-family: $fuente_curso_negrita;
		font-style: italic;
	}
	.negrita_azul_1{
		color: $azul_acc;
	}

	.cursiva{
		font-family: $fuente_curso_italic;
	}
	.cursiva_resp{
		font-family: $fuente_curso_italic;
		font-size: 2rem;
	}

	.texto_centrado{
		text-align: center;
	}
	.texto_left{
		text-align: left;
	}
	.texto_muy_grande{
		font-size: 4.5rem;
		line-height: initial;
	}
	.texto_grande{
		font-size: 5rem;
		line-height: initial;
	}
	.texto_mediano{
		font-size: 2.2rem;
		line-height: initial;
	}
	.texto_pequeno{
		font-size: 1.4rem;
		line-height: 2.2rem;	
		span{
			font-size: 1.4rem;
		}
	}

	.d-inline{
		display: inline;
	}
	.d-inlineblock{
		display: inline-block;
	}
	.no_mostrar{
		opacity: 0;
	}
	.dis-none{
		display: none;
	}
	#capaacierto{
		background-color: #DDF8DD;
		width: 100%;
		font-size: 2rem;
		padding: 2rem;
		font-weight: 600;
		text-align: center;
		display: none;
		padding-left: 25%;
		padding-right: 25%;
	}
	#capafallo{
		background-color: #F7E3E6;
		width: 100%;
		font-size: 2rem;
		padding: 2rem;
		font-weight: 600;
		text-align: center;
		display: none;
		padding-left: 25%;
		padding-right: 25%;
		div{
			font-size: 2rem;
		}
	}
	.float-none{
		float: none;
	}
	.float-left{
		float: left;
	}
	.float-right{
		float: right;
	}
	/***************************sabias que***********************************/
	.sabias_que{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 3rem 1rem 3rem;
		background-color: $morado_sabias;
		/* @include background-image(linear-gradient(to right, $morado, $morado_hover)); */
		img {
			float: left;
			width: 2rem;
			margin-right: 1.3rem;
		}
		.boton{
			cursor: pointer;
		}
		div{
			color: $white;
			font-family: $fuente_curso_negrita;
		}
		.sabias_body{
			font-family: $fuente_curso_1;
		}
		&.s_oculto{
			display: none;
		}
		&#sabias_cont{
			position: absolute;
			z-index: 3;
		}
	}
	.trans_check{
		width: 2rem;
    	height: 2rem;
		float: left;
		margin-right: 0.5rem;
		cursor: pointer;
	}
	
	.instruccion_trans{
		font-size: 1.6rem;
		color: $grey_ejemplo;
		float: left;
	}
	
	/******************************************************************************/

	a, span, p, div, li{
		font-size: 1.6rem;
		line-height: 2.5rem;
	}
	/*sirve para alinear tanto vertical como horizontalmente CENTRADO*/
	.flex_center{
		display: flex;
		/*ALINEAR HORIZONTALMENTE*/
		justify-content: center;
		/*ALINEAR VERTICALMENTE*/
		align-items: center;
	}
	.flex_center_horiz{
		display: flex;
		/*ALINEAR HORIZONTALMENTE*/
		justify-content: center;
	}
	.flex_left_horiz{
		display: flex;
		/*ALINEAR HORIZONTALMENTE*/
		justify-content: flex-start;
	}
	.flex_right_horiz{
		display: flex;
		/*ALINEAR HORIZONTALMENTE*/
		justify-content: flex-end;
	}
	.flex_center_vert{
		display: flex;
		/*ALINEAR VERTICALMENTE*/
		align-items: center;
	}
	.flex_top_vert{
		display: flex;
		/*ALINEAR VERTICALMENTE*/
		align-items: flex-start;
	}
	.flex_bottom_vert{
		display: flex;
		/*ALINEAR VERTICALMENTE*/
		align-items: flex-end;
	}
	.flex_center_right{
		display: flex;
		/*ALINEAR VERTICALMENTE*/
		align-items: center;
		justify-self: start;
	}
	.flex_space_between{
		display: flex;
		justify-content: space-between;
	}
	.flex_space_around{
		display: flex;
		justify-content: space-around;
	}
	/*SIRVE PARA SI NO ENTRAN LOS ELEMENTOS EN EL ANCHO ESTABLECIDO LOS BAJA A UNA SEGUNDA FILA*/
	.flex_wrap{
		display: flex;
		flex-wrap: wrap;
	}
	.flex_stretch{
		display: flex;
		align-items: stretch;
	}
	.min_height{
		min-height: 18vh;
	}
	.enunciado10{
		@include span-columns(10);
	}
	.enunciado9{
		@include span-columns(9);
	}
	.enunciado8{
		@include span-columns(8);
	}
	.enunciado7{
		@include span-columns(7);
	}
	.enunciado6{
		@include span-columns(6);
	}
	.enunciado5{
		@include span-columns(5);
	}
	.enunciado4{
		@include span-columns(4);
	}
	.enunciado3{
		@include span-columns(3);
	}
	.enunciado1_5{
		@include span-columns(1.5);
	}
	.enunciado4_5{
		@include span-columns(4.5);
	}
	.enunciado2{
		@include span-columns(2);
	}
	.enunciado2_4{
		@include span-columns(2.4);
	}
	.enunciado1_8{
		@include span-columns(1.8);
	}
	.enunciado1{
		@include span-columns(1);
	}
	.enunciado0_4{
		@include span-columns(0.4);
	}
	.enunciado4_4{
		@include span-columns(4.4);
	}

	.enunciado10_right{
		@include span-columns(10 omega);
	}
	.enunciado9_5_right{
		@include span-columns(9.5 omega);
	}
	.enunciado9_right{
		@include span-columns(9 omega);
	}
	.enunciado8_right{
		@include span-columns(8 omega);
	}
	.enunciado7_right{
		@include span-columns(7 omega);
	}
	.enunciado6_right{
		@include span-columns(6 omega);
	}
	.enunciado5_right{
		@include span-columns(5 omega);
	}
	.enunciado4_right{
		@include span-columns(4 omega);
	}
	.enunciado3_right{
		@include span-columns(3 omega);
	} 
	
	.enunciado1_right{
		@include span-columns(1 omega);
	}
	.enunciado_e{
		width: 104% !important;
	}
	.enunciado1_e{
        width: 4rem !important;
    }
	.enunciado3_e{
		width: 30% !important;
	}

	.sin_margen{
		margin: 0;
	}

	.image_container{
		width: 100%;
	}
	.image_container_1{
		width: 150%;
	}

	.flecha_hueca{
		width: 4rem;
	}
	.flecha_normal{
		width: 1rem;
	}

	/*********PORTADAS*****/
	.portada{
		background:url("../img/large/portada.jpg") no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		.overlay{
			background-color: rgba(0, 0, 0, 0.4);
			margin-top: 18rem;
			width: 100%;
			padding-top: 7rem;
			padding-left: 1rem;
			padding-right: 1rem;
			.portada_title{
				color: $white;
				font-size: 4.2rem;
				line-height: 1.14;
				margin-bottom: 3rem;
				font-family: $fuente_curso_light;
			}
			.portada_subtitle{
				color: $white;
				font-size: 4.2rem;
  				font-family: $fuente_curso_negrita;
				line-height: 1;
				margin-bottom: 7rem;
			}
			.triangulo {
				width: 0;
				height: 0;
				border-right: 3rem solid transparent;
				border-top: 2rem solid transparent;
				border-left: 3rem solid transparent;
				border-bottom: 2rem solid $grey_fondo;
		   }
		}
	}
	.portada_contenido{
		font-size: 2rem;
		line-height: 1.75;
		padding-top: 6.4rem;
		padding-bottom: 6.4rem;
		padding-left: 1rem;
		padding-right: 1rem;
		background: $grey_fondo;
	}

	img.check_feed{
		width: 2rem;
	}
	img.check_feed3_5{
		width: 3.5rem;
	}

	/********FIN PORTADAS************/

	.ul_bullet{
		list-style: disc;
		margin-left: 2em;
	}

	video{
		width: 100%;
	}
	.margen_inferior_1 {
		margin-bottom: 1rem;
	}
	.margen_top_7 {
		margin-top: 7rem;
	}
	.margen_top_31 {
		margin-bottom: 31rem;
	}
	.margen_lr_05{
		margin-left: .5rem;
		margin-right: .5rem;
	}
	.margin_r_1{
		margin-right: 1rem;
	}
	.ver_trascripcion{
		&:hover, &:focus{
			span{
				color: $morado_out_hover;
			}
		}
	}

	/***********************************JUEGO PAREJAS**********************************************************************/
	.juego_parejas{
		.juego_elem{
			font-size: 1.4rem;
			width: 19%;
			float: left;
			border: 1px solid #c3c3c3;
			border-radius: 1.2rem;
			background-color: $white;
			padding: 0.5em;
			margin: 0.4rem;
			min-height: 11em;
			flex-wrap: wrap;
			align-content: flex-start;
			.numero_pareja{
				font-weight: bold;
				margin-bottom: 1rem;
			}
			.respuesta{
				font-weight: bold;
				visibility: hidden;
				&.mostrar{
					visibility: visible;
					color: $correcto;
				}
			}
			img{
				width: 100%;
				height: 7em;
			}
			&.current{
				border: 2px solid $grey;
			}
			&.correct{
				border: 2px solid $correcto;
				.numero_pareja{
					color: $correcto;
				}
				&:hover{
					cursor: default;
					opacity: 1;
				}
			}
			&.wrong{
				border: 2px solid $error;
				.numero_pareja{
					color: $error;
				}
			}
			&:disabled{
				//border: 2px solid $grey;
				//opacity: 0.2;
				/* .numero_pareja{
					color: $color_principal;
				} */
				color: $color_principal;
				&:hover{
					//opacity: 0.2;
					color: $color_principal;
					cursor: initial;
				}
			}
			&:hover{
				opacity: 0.5;
			}
		}
		.linea {
			width: 96%;
			border-top: solid 1px #c3c3c3;
			margin: 1rem;
		}		 
	}
	.leyenda{
		width: 3rem;
		height: 2rem;
		float: left;
		border: 1px solid #c3c3c3;
		border-radius: 0.5rem;
		background-color: #FFF;
		margin: 0.5em;
		&#acierto{
			border: 1px solid $correcto;
		}
		&#fallo{
			border: 1px solid $error;
		}
	}

	/******************************** single choice *******************************************/
	.single_choice{
		margin: 0;
		.item{
			float: left;
			border: 1px solid #cecece;
			border-radius: 1.2rem;
			background-color: $white;
			padding: 0.5em;
			margin-top: 1rem;
			margin-bottom: 1rem;
			cursor: pointer;
			span{
				font-size: 1.8rem;
			}
			&.correct{
				border: 2px solid $correcto;
				&:hover{
					cursor: default;
					opacity: 1;
				}
			}
			&.wrong{
				border: 2px solid $error;
			}
			&.disabled{
				cursor: default;
			}
		}
		.feedback{
			.check{
				display: none;
				opacity: 1;
			}
		}
	}
 
	/*******************************tablas********************************/
	.tabla {
		width: 100%;
		text-align: center;
		border-bottom: none;
		table{
			border-bottom:solid 1px $white !important;
		} 
		thead{
			background: #d8d8d8;
			font-family: $fuente_curso_negrita;
			tr{
				th {
					padding: .5rem;
					vertical-align: middle;
					border: solid 1px $white;
					&.explicacion_arriba{
						border-top: 2px dotted $morado;
					}
					&.explicacion_lateral{
						border-left: 2px dotted $morado;
						border-right: 2px dotted $morado;
					}
				}
			}
		}
		.impar {
			background: #F9F9F9;
		}
		.par {
			background: #F2F2F2;
		}
		td {
			padding: .5rem;
			vertical-align: middle;
			border: solid 1px $white;

			&.explicacion_lateral{
				border-left: 2px dotted $morado;
				border-right: 2px dotted $morado;
			}
			&.explicacion_arriba{
				border-top: 2px dotted $morado;
			}
			&.explicacion_abajo{
				border-bottom: 2px dotted $morado;
			}
		}
	}

	#clasificacion {
		#columna1{
		width:17%;
		}
		#columna2{
			width:20%;
			}
		.fila1{
			min-height: 4rem;
			}
		.fila2{
			min-height: 7rem;
			}

	}
	.caja_explicacion {
		border: 2px dotted $morado;
	}
	.caja_explicacion_1 {
		border: 2px solid $morado;
	}
	.texto_explicacion{
		font-size: 1rem;
	}
	.ver_todas{
		@extend .contacto;
		padding: 1rem;
		height: 4rem;
		cursor: pointer;
		width: 21rem;
	}
	.ver_todas_1{
		@extend .contacto;
		height: 4rem;
		width: 15rem;
	}
	.popup{
		padding: 2rem;
		background: $white;
		.boton{
			cursor: pointer;
		}
	}
	.recuadro_tabla{
		border-radius: 0.4rem;
		font-size: 1.2rem;
		border: solid 0.8px $grey_border2;
		text-align: center;
		padding: 0.5rem;
		margin: 0.5rem;
	}
	.recuadro_tabla_1{
		border-radius: 2rem;
		font-size: 1.2rem;
		border: solid 0.8px $grey_border2;
		text-align: center;
		padding: 0.5rem;
		margin: 0.5rem;
	}
	.recuadro_tabla_r{
		border-radius: 0.4rem;
		/* font-size: 1.2rem; */
		border: solid 0.8px $grey_border2;
		text-align: center;
		/* padding: 0.5rem;
		margin: 0.5rem; */
		
	}
 /* estilos para fragmentos de codigo */
	.codigo{
            font-family: 'Courier New', Courier, monospace;
        }
        .codigo_negrita{
            font-weight: bold;
        }
        .codigo_morado{
            color: $morado ;
            font-weight: bold;
        }
        .codigo_rojo{
            color: $red ;
		}
/*  fin estilos para fragmentos de codigo */

	.cajita_gris{
		border-radius: 20px;
        background-color: rgba(216,216,216,0.21);

	}
	.pastilla_grande{
		background-color: #7500c0;
        width: 19em;
        border-radius: 3rem;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 1rem;
        opacity: 0.9;

	}
    .morado_medio {
       background-color: #7500c0;
        opacity: 0.7;
	}
	 .morado_oscuro {
    background-color: #460073;
    opacity: 1;
	}
	.grafico_relleno {
    min-height: 4rem;
    border-radius: 3rem;
    background-color: rgba(0,142,255,0.30196);
    float: right;
	}  
	.rosa_claro {
    background-color: rgba(117,0,192,0.14902);
	}
	.verde_claro {
    background-color: rgba(0,215,0,0.14902);
    }
	.azul_claro {
     background-color: rgba(0,142,255,0.30196);
    }
	.amarillo_claro {
     background-color: rgba(255, 248, 223, 1);
	}
	.morado_tabla{
		background-color: $morado;
	}

	.borde_azul{
		border: solid 2px #00BAFF;
	}
	.borde_morado{
		border: solid 2px $morado_out_hover;
	}
	.borde_negro{
		border: solid 2px $black;
	}
	.borde_gris{
		border: 1px solid #cecece;
		border-radius: 1.2rem;
		background-color: $white;
		padding: 1em;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.borde_amarillo{
		border: solid 2px #FFD42E;
	}
	.cont_tabla{
		.encabezado{
			border-top: 0.8px solid #cecece;
			border-left: 0.8px solid #cecece;
			border-right: 0.8px solid #cecece;
			border-radius: 0.3rem 0.3rem 0 0;
			background: #f2f2f2;
			font-weight: bold;
			div{
				padding: 0.5rem;
				text-transform: uppercase;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.cuerpo{
			border-bottom: 0.8px solid #cecece;
			border-left: 0.8px solid #cecece;
			border-right: 0.8px solid #cecece;
			border-radius: 0 0 0.3rem 0.3rem;
			background: white;
			div{
				div{
					padding: 0.5rem;
				}
			}
		}
		.explicacion_lateral{
			border-left: 1px solid $morado;
			border-right: 1px solid $morado;
		}
		.explicacion_arriba{
			border-top: 1px solid $morado;
		}
		.explicacion_abajo{
			border-bottom: 1px solid $morado;
		}
	}
	a:not([href]):not([tabindex]) {
		color: #7500c0;
		&:hover{
			color: $color_principal;
		}
	}
}