//Layout Multiple choice

.com_no_verbal{
	@include span-columns(10);

	.enunciado{
		@include span-columns(10);
		margin-bottom: 4rem;
		line-height: 2rem;
	}
	.pregs{
		@include span-columns(6);
		button{
			@include span-columns(2);
			margin:3rem;			
		}
	}
	/*para pregunta 2*/
	.pregs.pregs2{
		@include span-columns(7);
		float: none;
		button{
			@include span-columns(2);
			margin:4rem;
			&#mult_3{
				margin-left:14rem;
			}
		}

		margin-top:6rem;
	}
	/*para pregunta 2 que no tiene imagen*/
	.sin_imagen
	{
		.sin_imagen_enun{
			@include span-columns(10);
			background-color: lighten($color_modulo_3_light, 20%);
			color: $black;
			padding: 2rem;
			border-radius: 1rem;
			margin-bottom: 1rem;
		}
		.sin_imagen_lista{
			@include span-columns(9 omega);
		}
		li{
			width: 100%;
		}
	}
	.pregs.unica{
		@include span-columns(3 omega);
		button{
			margin:2rem;

		}
		margin-top:10rem;
		float:right;
	}

	.image_container{
	   @include span-columns(3 omega);
	  /*text-align: center;*/
	   margin-bottom: 3rem;
	   margin-top: 4rem;
	}
	/*pop up multchoice*/
	.modal_wrapper
	{
		@extend .modal_wrapper; // _modals.scss
		max-width: 86rem;
	}
	.modal_content{ 
	 	@extend .modal_content; // _modals.scss
	 	width: 67rem;
	 	&.show{	  	
	  	  overflow: auto;
	    }
	    h4{
			font-size: 1.6rem;
			font-style: normal;
		}
 	}
 	.pop_mult{
		li{
			vertical-align: top;
			padding: 1rem;
			display:inline-block;
			input[type="radio"] + label span {
	    		display: inline-block;
	    		vertical-align: top;
	    		margin-bottom: 1.6rem;
			}
		}
		header{
			text-align: right;
			p{
				float: left;
				font-size: 1.4rem;
		    	margin-left: 16rem;
		    	margin-top: 1rem;
		    	color: white!important;
		    	font-family: $fuente_curso_1;
			}
		}
		label{
			width: 100%;
		}
		/*h4{
			text-align: right;
			@include span-columns(7);
		}*/
	}
	/*com no verbal 2 pregunta*/
	.com_no_verb_2{
		
		.botonera{
			@include span-columns(10);
		}
		.pregunta{
			ul{		

				@include span-columns(6 omega);
				/*float:none;*/
				li{
					vertical-align: top;
					padding: 0 1rem 2rem;
					/*float: left;*/
					width: 100%;
					font-style: normal;
					input[type="radio"] + label span {
			    		display: inline-block;
			    		vertical-align: top;
			    		margin-bottom: 2rem;
					}
				}
			}
			.image_container{
			   @include span-columns(3);
			   /*text-align: center;*/
			   margin-top: 0;
			}
			.image_container2_1{
			   @include span-columns(3);
			   /*text-align: center;
			   margin-top: 3rem;*/
			}
			i{
				line-height: 3rem;
			}
		}
	}
	
}