.drag_drop
{
    @include span-columns(10);
    #botonesPrioridad{
        @include span-columns(6);
        position: relative;
        text-align: center;
        margin: auto;
        margin-bottom: 1rem;

        h3 {
    	    cursor: pointer;
    	    /*border-radius: 5px;*/
    	    z-index: 100;
            padding: 1rem;
            min-height: 4rem;
            width: 15rem;
            text-align: center;
    	    &:hover{
    		}
    	}
        td{
            vertical-align: top;
        }
        th{
            font-weight: bold;
        }

    }

    .dragContainer
    {
        border: none;
        display: inline-block;
        position: relative;
    }

    .questions{
    }
    .botonera{
        /*Botonera centrada*/
        @include span-columns(10);
        button{
            margin: 0 auto;
            margin-top:2rem;
        }
    }
    .image_container{
       @include span-columns(3 omega);
       text-align: center;
       margin-bottom: 3rem;
    }
}