//Layout HELP POP UP
.help_wrapper
{
	@extend .modal_wrapper; // _modals.scss
	max-width: 100rem;
}
.help header{
	text-align: right;
	p{
		float: left;
    	margin-left: 47rem;
    	margin-top: 1rem;
    	color: white!important;
    	font-family: $fuente_curso_1;
	}
}

.help{ 
 	@extend .modal_content; // _modals.scss
 	width: 100rem;
 	&.show{	  	
  	  overflow: auto;
    }
 }
.helpContent{
	/*@include span-columns(10);*/
	padding: 2rem;
	padding-top:0;
	padding-bottom:0;
	h4{
		color:$dark_blue;
		font-size: 1.6rem;
		line-height: 2;
	}
	.indicaciones{
		/*@include span-columns(10);*/
		li{
			margin-top:1rem;
		}
		margin-bottom: 2rem;
	}

	.estructura{
		/*@include span-columns(6 omega);*/
		i{
			color:$blue;
		}
	}
	//creamos los distintos tooltips
	#map{
		margin-top: 1rem;
		@include hotspot(tool_menu,59px,2px,317px,106px,rgba(253,228,134, 1),rgba(253,228,134, 0.3),116px,35px,445px);
		@include hotspot(tool_cont,59px,112px,317px,465px,rgba(77,250,191, 1),rgba(77,250,191, 0.3),6px,35px,445px);
		@include hotspot(tool_foot,378px,112px,40px,465px,rgba(241,103,126, 1),rgba(241,103,126, 0.3),6px,-284px,445px);
	}
}

