//Layout lista de la compra

.lista_compra{
	@include span-columns(10);

	.enunciado{
		margin-bottom: 1rem;
		line-height: 2rem;
	}

	.pregunta{

	}

	.block{
		@include span-columns(10);
		@extend .bloc_container; // From containers
		background-color:#FEF5F5;
		border: 1px solid $color_modulo_3_dark;
	}

	.fila_anillas{
		@include pre(1);
		@include span-columns(8);
		@extend .anillas; //From adornos;
	} 

	.raya_block{
		@include span-columns(10);
		height: 1px;
		background-color: $color_modulo_3_dark;
		margin-top: 2.5rem;
		margin-bottom: 1.5rem;
	}

	.listas_container{
		@include span-columns(9);

		.row{
			@include span-columns(12);
			margin-bottom: 1.2rem;
		}

		.lista{
			@include span-columns(3);
			padding-left: 2rem;
		}

		ul{
			padding-left: 2rem;
			@extend .listado_respuestas;
		}
		h4{
			color: darken($color_modulo_3_dark,30%);
			font-size: 1.8rem;
			margin-bottom: 1.5rem;
		}
		li{
			margin-bottom: 0.5rem !important;
			div{
				width: auto !important;
			}	
			input[type="radio"] + label span {
				margin-top: -2px;
			}
		}


	}

	.image_container{
		   /*@include span-columns(3 omega);
		   text-align: center;
		   margin-bottom: 3rem;
		   margin-top: 10%;*/
	}

	.botonera{
		/*Botonera centrada*/
		@include span-columns(10);
	  	button{
	  		margin: 0 auto;
	  		margin-top:2rem;
	  	}
	}
}