//Layout true or false

.prioridad{

	@include span-columns(10);

	.enunciado{
		@include span-columns(10);
	}

	.table_container{
		@include span-columns(7);
	}
	table td{
	     padding: 10px;
	     text-align: center;
	     input[type="radio"] + label span {
	     	margin: -1px 0 0;
	     }
	}

	th{
		font-size: 120%;
	    font-weight: bold;
	    text-align: center;
	    height: 50px;
	}

	tr td:first-of-type{
	    width: 60%;
	    text-align: left;
	}

	.image_container{
		@include span-columns(3 omega);
		text-align: center;
	    margin-bottom: 3rem;
	}

	.botonera{
		/*Botonera alineada a la derecha con la imagen*/
		@include span-columns(10);
	  	button{
	  		margin: 0 auto;
	  		margin-top:2rem;
	  	}
	}	
}