//Layout true or false

.true_or_false{

	@include span-columns(10);
	display: table;

	.enunciado{
		margin-bottom: 1rem;
		line-height: 2rem;
	}
	.radio_container
	{
		height: 3.2rem;
		label{
			height:4rem;
		}
		input:focus + label{
			cursor:pointer;
			outline: 0.2rem solid rgba(7, 101, 176, 0.8);
	  		outline: 5px auto -webkit-focus-ring-color;
	  		outline-offset: 5px;
		}
	}

	.table_container{
		@include span-columns(7);
		display: table-cell;
		float:none;
		th{
			min-width: 9rem;
			color: $black;
		}
	}

	.image_container{
		@include span-columns(3 omega);
		vertical-align:middle;
		display: table-cell;
		float:none;
		text-align: center;
	    margin-bottom: 3rem;
	}

	.botonera{
		/*Botonera alineada a la derecha con la imagen*/
		@include span-columns(10);
	  	button{
	  		margin: 0 auto;
	  		margin-top:2rem;
	  	}
	}	
}