/***********RESPONSIVE DESIGN MOBILE MAS DE 481 PX HASTA 767PX*******************************************************************************************/
@include breakpoint($movil){ //FROM Mixins
	/*INCLUIMOS los contenidos para la version mobile*/
	@include responsiveclass;
	/*******************************************CABECERA*********************************************************************/
	.main_header{
	}

	.bienvenida {
		.flex_center, .flex_center_vert, .flex_top_vert{
			flex-wrap: wrap;
		} 
		.linea_vertical{
			border: none;
		}
		.no_wrap_m{
			flex-wrap: nowrap !important;
		}
		.flex_center_m{
			display: flex;
			justify-content: center;
		}
		.rotate_r{
			transform: rotate(90deg);
			width: 5rem !important; 
		}
		.resp{
		 @include span-columns(10);
		}
		.resp_50{
		 @include span-columns(5);
		}
		.resp_75{
		 @include span-columns(7.5);
		}
		.resp_mv3{
			@include span-columns(3);
		}
		.resp_m3{
			@include span-columns(3);
		}
		.resp_4{
			@include span-columns(4);
		}
		.resp_2{
			@include span-columns(2);
		}
		.resp_mv{
			@include span-columns(10);
		}
		.mk_cent{
			margin-left: 5rem;
		}
		.margin_left_5{
			margin-left: 0rem;
		}
		.margin_b_r{
			margin-bottom: 2rem;
		}
		.resp_mobile {
			@include span-columns(10);
		}
		.drag_pieza {
			height: 7.4rem;
		}
		.drop_hueco {
			min-height: 8rem;	
		}
		.feedback{
			margin-top: 2rem;
		}
		.single_choice{
			.feedback {
				margin-top: 0;
			}	
		}
		.visibility_ej{
			visibility: hidden;
		}
		.space{
			margin-left: 3rem;
		}
		.margin_left_1_m{
			margin-left: 1rem;
		}
		.min_height{
			min-height: 12vh;
		}
		.padding_lateral_left_2{
			padding-left: 0rem;
		}
	}
}