.main_footer{

	/*background-image: url(../img/svg/footer.svg);*/
	background-color: $white;

	/*INI para que tenga SKEW y borde redondeado el background*/
	display: block;
	height: 18.5rem;
	position: relative;

	.copyright{
		@include span-columns(6);
		padding-left: 3rem;
		/*@extend %vertical-align;*/
		color: $white_blue;
		margin-top: 0.7rem;
		font-size: 1.2rem;
	}

	.footerControls{
		@include span-columns(10);
		height: 60%;
		display: flex;
		align-items: center;
    	justify-content: space-around;	

		> button{
			margin: 0;
			padding: 0;
			margin-left: 2em;
		}
	}
	.footerLinks{
		@include span-columns(10);
		height: 40%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		background-color: $grey_fondo;
		.ancho_links {
			width: 100%;
			display: flex;
			justify-content: center;
			cursor: pointer;
			div {
				border-right: solid 1px #cecece;
				padding-left: 3rem;
				padding-right: 3rem;
				&:hover, &:focus{
					font-family: $fuente_curso_negrita;
					color: $morado_out_hover;
				}
				&.pulsado{
					font-family: $fuente_curso_negrita;
				}
			}
			.sin_pipe{
				border-right: none;
			}
		}
	}
}