.main_header{
	height: 7.5rem;
	position: relative;
	margin-bottom: 0;
	background-color: $white;
	border: solid 1px $grey_border;
	display: flex;
    align-items: center;
	h1{
		font-family: $fuente_curso_1;
		font-size: 2.4rem;
		color: $color_principal; 
		text-align: center;
		font-weight: 600;
	}
}

.subbanner{
	background-color: $color_modulo_1_dark;
	min-height: 13.1rem;
	.copyright{
		@include span-columns(2.1 omega);
		font-size: 1rem;
		color: $white_blue;
		margin-top: 4rem;
		text-align: right;
		margin-right: 1rem;
	}
}