.navigation_menu{
	/*@extend %white_container;*/
	@extend .menu_nav;
	/*border-radius: .5rem;
	padding-bottom: 0rem;
	padding-top: 0rem;*/
	padding-top: 0;
	margin-bottom: 0srem;
	margin-right: 1rem;
	margin-top: 0;
	max-height: 4em;
	/*z-index: 199;
	@extend %sombra; */
	/*@include transition(all 1s ease-in-out);*/

	&.opened{
		/*top: 0;*/
	}

	.moment{
		/*@include span-columns(0.6);*/
	}
}