.menu_opener{
	display:block;
	width: 20%;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0.5rem;
	z-index: none;
	padding: 0;
	padding-left: 5rem;
	height: 4rem;
	position: relative;
    top: 1.5rem;
	&:hover{
		cursor: pointer;
		outline: 5px auto -webkit-focus-ring-color;
		&:before{
			content: url(../img/svg/menu_icono.svg);
			margin-right: 1rem;
			width: 25px;
			height: 16px;
			position: absolute;
			left: 1.8rem;
			top: 0.5rem;
		}
	}
	&:before{
		content: url(../img/svg/menu_icono.svg);
		margin-right: 1rem;
		width: 25px;
		height: 30px;
		position: absolute;
		left: 1.8rem;
		top: 0.5rem;
	}
}

.menu_nav{
	.imagen_menu{
		width: 90%;
		margin-bottom: 1rem;
	}

	ul{
		@extend .elements_column;		
		padding: 2rem;
		border: solid 1px $grey_border;
		background-color: $white;
		border-top: none;
		height: auto;
    	//overflow-y: scroll;
	}
	ul::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	
	ul::-webkit-scrollbar:vertical {
		width:11px;
	}
	
	ul::-webkit-scrollbar-button:increment,ul::-webkit-scrollbar-button {
		display: none;
	} 
	
	ul::-webkit-scrollbar:horizontal {
		height: 10px;
	}
	
	ul::-webkit-scrollbar-thumb {
		background-color: #cecece;
		border-radius: 20px;
		border: 2px solid $white;
	}
	
	ul::-webkit-scrollbar-track {
		border-radius: 10px;  
	}
	.panel-group {
		  z-index: 100;
		  height: auto;
		  width: 4em;
		  padding: 0;
		  -webkit-backface-visibility: hidden;
		  -webkit-backface-visibility: hidden;
		  -webkit-transform: translateX(-100%) rotate(-90deg);
		  -webkit-transform-origin: right top;
		  -moz-transform: translateX(-100%) rotate(-90deg);
		  -moz-transform-origin: right top;
		  -o-transform: translateX(-100%) rotate(-90deg);
		  -o-transform-origin: right top;
		  transform: translateX(-100%) rotate(-90deg);
		  transform-origin: right top;
	}

	li{
		margin-top: 0;
		margin-bottom: 0;
		position: relative;
		opacity: 1;
		.trayecto {
			border-left: solid 2px #CECECE;
			height: 4rem;
			position: absolute;
			top: -1.6rem;
			left: 1.7rem;
		}
		.trayecto_disable{
			border-left-color: #7500C0;
		}
		&:after{
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 7px;
			height: 7px;
		}
		/*si esta deshabilitado el elemento del menu - momento*/
		&.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{
			opacity: 1;			

			.menulink{
				background: 
				  /* On "top" */
				  repeating-linear-gradient(
				    135deg,
				    transparent,
				    transparent 10px,
				    #f5f5f5 10px,
				    #f5f5f5 20px
				  ),
				  /* on "bottom" */
				  linear-gradient(
				    to bottom,
				    #eee,
				    #cecece
				  );
			}
		}			

		background-color: $white;
			
		.menulink{
			div.logomenu{
				display: block;
				margin: 0px 6px;
				width: 2.5rem;
				height: 2.5rem;
				background-size: 100%;	
			}
			.text{
				background:url("../img/svg/menu_text.svg") no-repeat;
				&.tema_completado{
					background:url("../img/svg/menu_text_enable.svg") no-repeat;
					background-size: 100%;
				}
			}
			.interaction{
				background:url("../img/svg/menu_interaction.svg") no-repeat;
				&.tema_completado{
					background:url("../img/svg/menu_interaction_enable.svg") no-repeat;
					background-size: 100%;
				}
			}
			.multimedia{
				background:url("../img/svg/menu_multimedia.svg") no-repeat;
				&.tema_completado{
					background:url("../img/svg/menu_multimedia_enable.svg") no-repeat;
					background-size: 100%;
				}
			}
			/* div.tema_completado{
				@extend div.logomenu;
				background:url("../img/svg/menu_#{$i}_enable.svg") no-repeat;
				background-size: 100%;	
			} */
			div.textomenu{
				width: 85%;
			}
			div.logomenu_text{
				display: none;
			}
			&:hover{
				/* background-color: $green_light;
				color: $white; */
			}
		}			

		&.disabled{		
			//border-left: solid .5em getColor("modulo_#{$i}");			
			/*border-bottom: solid 2px darken($color_disabled_1, 20%); */
			.panel-heading button.menulink{

				/*****img modulo completo ****/
				img{
					/*content:"";*/
					display: block;
					height: 1.5em;
					width: 1.5em;
					right: 0.7em;
					top: 1em;					
				    position: absolute;
					/*background-image: url(../img/svg/icon_check.svg);*/
					@extend %vertical-align;
				}
			}

		}
	}

	.panel-collapse{

		.momen_collap{
		    -webkit-backface-visibility: hidden;
		  	margin-left:94px;
			position: absolute;
			width: 22.5em;
			
		}

		.submenu{
			-webkit-transform: translateX(0%) rotate(90deg);
			  -webkit-transform-origin: left top;
			  -moz-transform: translateX(0%) rotate(90deg);
			  -moz-transform-origin: left top;
			  -o-transform: translateX(0%) rotate(90deg);
			  -o-transform-origin: left top;
			  transform: translateX(0%) rotate(90deg);
			  transform-origin: left top; 
			  width: 100%;
				margin-left: 0;
				display: inherit;
				margin-top: -4.2em;
				padding: 6.2rem 0.15em 0;
				position: relative;
				top: 4.1em;	
				z-index: 1;
				color: $white;
				font-size: 2rem;
				font-family: $fuente_curso_negrita;
				//check completado para submodulo	
				.img_comp{
					top: 1em;
					z-index: 100;
					overflow: visible;
					left: 0.4em;
					width: 75%!important;
					position: absolute;
				}	
		}
	}

	

	button{
		@extend %button_menu;		 
		height: 4em;
		width: 100%;
		display: flex;
		align-items: center;
		text-align: left;
		line-height: 1.29;
		&:hover{
			text-decoration: none;
		}
		&:disabled{
			cursor: initial;
		}
	}

	.panel-default > .panel-heading {
	    border: none;
		padding: 0;  
		border-radius: 0;	
		background-color: $color_modulo_1_dark;
	}
	.panel-default{
		border: none;
	}
	.panel-body {
	    padding: 5px;
		min-height: 23.5em;
		border: none;
	}
}


