html[data-useragent*='MSIE '] {
	li input[type="radio"]:focus + label, li input[type="checkbox"]:focus + label{
       cursor:pointer;
       /*outline: 0.2rem solid rgba(82, 168, 236, 0.8);
       outline: 5px auto -webkit-focus-ring-color;
       outline-offset: -2px;*/
       /*border: 0.2rem solid rgba(7, 101, 176, 0.8);*/
       outline: none;
       position: relative;
    }
    li input[type="radio"]:focus + label:after, li input[type="checkbox"]:focus + label:after{
       content: '';
       display: block;
       position: absolute;
       top: .2rem;
       left: .2rem;
       right: .2rem;
       bottom: .2rem;
       border: solid .2rem rgba(82, 168, 236, 0.8);
    }
    .pop_mult img {
    	margin-right: .2rem;
    }
	/*bar progress text*/
	.text_value{
		/*margin-left: 50%;*/
		}
	select{
		/*background-image: none;*/
	}
	/*menu check*/
	.menu_nav li.disabled button:after, .navigation_menu li.disabled button:after, #navigationMenu li.disabled button:after, #navigationMenu li.disabled button img {
    /*background-image: url("../img/svg/icon_check.svg");*/
    /*right: 7.8rem;*/
    width: 1.6rem;
	}
	/* tooltip hotspot*/
	.helpContent #map{
		 .tool_cont, .tool_menu, .tool_foot{
		background-color: rgba(0,0,0,0%);
		}
	}
	/*boton cerrar POP UPs*/
	.button_close_pop, .header_pop_up .boton_cerrar_pop {
		padding-left: 0.6rem;
	}

	/*titulo de la lista de la compra*/
	.lista_compra{

		.listas_container{

			ul{
				margin-top:2rem;
			}
			h4{
				margin-bottom: 0;
				padding-bottom: 0rem;
			}
		}
	}
	/*cambio de IMG segun navegador*/

	.audio_multiple_choice{
		.icoplayer{
			background-image: url(../img/large/player_ico_IE.jpg)!important;
			width: 26px;
			height: 28px;
			padding-left:26px;
			padding-top:11px;
		}
	}

}

/*ESTILOS PARA GOOGLE CHROME*/
@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
    .audio_multiple_choice{
		.icoplayer{
			content: url(../img/large/player_ico_CHROME.jpg);
		}
	}
}
html[data-useragent*='iPad'], html[data-useragent*='iPhone'] {
    .audio_multiple_choice{
		.icoplayer{
			content: url(../img/large/player_ico_SAFARI.jpg);
		}
	}
}
html[data-useragent*='MSIE 9'] {
    .audio_multiple_choice{
		.icoplayer{
			background-image: url(../img/large/player_ico_IE9.jpg)!important;
		}
	}
}