button{
	outline: none;
	background: transparent;
	border: none;
	cursor: pointer;
	font-family:$fuente_curso_1;
	&:focus{
		outline-offset: -2px;
	}
	&:hover{
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
}

%boton_modulo{
	border-radius: .5rem;
	color: $white;
	text-align: center;
	padding: 1rem;
}

.boton_abrir_menu{
	background-image: url("../img/large/button_open_close_menu.png");
	background-repeat: no-repeat;
	width: 20.1rem;
	height: 5.5rem;
	color: #26a9e0;
}

.boton_cerrar_menu{
	background-image: url("../img/large/button_open_close_menu.png");
	background-repeat: no-repeat;
	width: 20.1rem;
	height: 5.5rem;
	color: #26a9e0;
}

%boton_redondo{
	display: block;
	width: 3.3rem;
	height: 3.3rem;
	border-radius: 50%;
	/*background-color: red;*/
	border-top: solid 1px #d1d1d1;
	border-bottom: solid 1px #ffffff;
	color: $white;
	font-size: 1.5em;
	background-image: none;
	background-color: $blue;
	float: right;
	&:hover{
		@extend %gradiente_button;
	}
	&.disabled,&[disabled]
	{
		@extend %button_disabled; /*_buttons.scss*/
		&:hover{
			color: $black;
			background-color: white;
		}
	}
}

.button_close_pop{
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 50%;
	background-color: $blue;
}

.boton_alargado{
	display: block;
	min-width: 12rem;
	text-align: center;
	padding-top: .8rem;
	padding-bottom: .8rem;
	background-color: $color_modulo_1_dark;
	color: $green_light;
}

button.accept{
	@extend .boton_alargado;
	&.disabled,&[disabled]
	{
		@extend %button_disabled; /*_buttons.scss*/
		border: solid 1px #a6a5a5;
	}
	&:hover{
		color: $color_modulo_1_dark;
		background-color: $green_light;
	}
}

%grey_button{
	text-decoration: none;
	color: $dark_grey;
	cursor: auto;
	&:hover{
		text-decoration: underline;
	}
}
%button_disabled{
	@extend %grey_button;
	color: $black;
	background-color: white;
	&:hover{
		text-decoration: none;
	}
}

%button_menu{
	padding: 0;
	text-align: center;
	color: $black;
	font-family: $fuente_curso_1;
}

%button_menu_disabled{
	@extend %grey_button;
	@extend %button_disabled;
}