@import "compass/css3/transition";	

/*ACCESIBILIDAD: construcción de radiobutton y checkboxes*/
label{
	font-family: $fuente_curso_1;
	font-size: 1.4rem;
	line-height: 1.6;	

    display: block;
    padding-left: 4rem;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
    vertical-align: middle;
    width:100%;
}

input[type="radio"]{
	position: absolute;
	margin-top: 1rem;
	font-size: 1.6rem;
	margin-left: -3rem;

}

li input[type="radio"]:focus + label{
	cursor:pointer;
}

input[type="radio"] + label:before {
	display:inline-block;
	width:32px;
	height:32px;
	margin: -1px 0 0 -4rem;
	vertical-align:middle;
	background:url(../img/large/controls.png);
	background-position: 0 -32px!important;
	cursor:pointer;
	content: "\00a0\00a0\00a0";
	cursor: pointer;
	position: absolute;
}
input[type="radio"]:checked + label:before {
	width:32px;
	height:32px;
	background:url(../img/large/controls.png);
	background-position: -32px -32px!important;
}

input[type="radio"]:disabled + label:before {
	opacity: 1;
	cursor: auto;
}

//Checkboxes

input[type="checkbox"] {
	position: absolute;
	margin-top: 1rem;
	margin-left:-3rem;
	font-size: 1.6rem;
}

li input[type="checkbox"]:focus + label {
	cursor:pointer;
}


input[type="checkbox"] + label:before {
		display:inline-block;
		width:32px;
		height:32px;
		margin:0px 15px 12px -40px;
		vertical-align:middle;
		background:url(../img/large/controls.png);
		background-position: 0 0px !important;
		cursor:pointer;
		content: "\00a0\00a0\00a0";
		position: absolute;
		/*@include transition(all,0.4);*/
}

input[type="checkbox"]:checked + label:before {
	width:32px;
	height:32px;
	background:url(../img/large/controls.png);
	background-position: -32px 0px !important;
}

input[type="checkbox"]:disabled + label:before {
	opacity: .5;
	cursor: auto;
}

//CLASE PARA NO MOSTRAR INPUTS Y LABELS
.sin_estilo_check{

	.enunciado19{
		@include span-columns(1.9);
		margin: 0.5rem;
	}
	
	.sin_check_element{
		label{
			color: $dark_blue;
			padding: 0;
			//text-align: center;
		}
		.check_correcto{
			div{
				color: $dark_blue;
			}	
		}
		input{
			display: none;
		}
		input + label::before{
			display: none;
		}

		&:hover{
			cursor: pointer;
			background-color: $green_light;
			label{
				cursor: pointer;
				color: $dark_blue;
			}				
		}

		&.checked{
			cursor: pointer;
			border: 0.5rem solid $green;
			background-color: $green_light;
			.check_correcto{
				div{
					color: $dark_blue;
				}	
			}
		}
	}
}