%black_link{
	text-decoration: none;
	color: $black;
	&:hover{
		text-decoration: underline;
	}
}

%grey_link{
	text-decoration: none;
	color: $dark_grey;
	&:hover{
		text-decoration: underline;
	}
}

%white_link{
	text-decoration: none;
	color: $white;
	&:hover{
		text-decoration: underline;
	}
}

%blue_link{
	text-decoration: none;
	color: $dark_blue;
	&:hover{
		text-decoration: underline;
	}
}



