table{
	border-bottom: solid 2px $blue; 

	&.true_false{
		tr, thead {
			td:nth-child(1), th:nth-child(1){
				/*@extend .bordered;*/
			}

			td:nth-child(n+2), th:nth-child(n+2){
				/*@extend .shadowed;*/
			}
		}
	}
	&.drag_table{
		tr, thead {
			td:nth-child(1), th:nth-child(1){
				/*@extend .bordered;*/
			}

			td:nth-child(n+2), th:nth-child(n+2){
				/*@extend .bordered;
				@extend .shadowed;*/
			}
		}
	}
}

td, th{
	padding: .5rem;
	border-bottom: solid 2px $blue;
	vertical-align: middle;
}

th{

}

.bordered{
	/*border-right: solid 3px #f16770;*/
}

.shadowed{
	/*background-color: #f6eff1;*/
}

.radio_container{
	display: block;
	width: 3.2rem;
	margin: 0 auto;
	height: 3.2rem;
}